* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: black;
}
.header {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  padding: 25px 12.5%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.navbar a {
  position: relative;
  font-size: 20px;
  color: aliceblue;
  text-decoration: none; /*去掉超連結的虛線 */
  font-weight: 500;
  margin-right: 30px;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -6px; /*讓虛線往下走 */
  left: 0;
  width: 100%;
  height: 2px;
  background: aliceblue;
  /* border-radius: 2px; */
  transform: translateY(10px);
  transition: 0.5s;
  opacity: 0;
}
.navbar a:hover::after {
  /* hover 事件*/
  transform: translateY(0);
  opacity: 1; /*去掉 */
}

.search-bar {
  width: 250px;
  height: 45px;
  background: transparent; /*顯示背景下面的元素,因而不會覆蓋掉*/
  display: flex;
  align-items: center;
  border: 2px solid aliceblue;
  border-radius: 6px; /*radious讓長方形變成有圓角的形狀*/
}

.search-bar input {
  width: 100%;
  background: transparent;
  border: none; /*去掉框線*/
  outline: none; /*去掉外面框線*/
  font-size: 16px;
  color: aliceblue;
  padding-left: 12px; /*輸入參數與總元素的間距*/
}
.search-bar button {
  width: 20%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center; /*左右置中*/
  align-items: center; /*上下置中*/
}
.search-bar button i {
  font-size: large;
  color: aliceblue;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*上下置中*/
  width: 75%;
  height: 75vh;
  background-size: cover;
  background: url("background.jpg") no-repeat center;
  border-radius: 10px;
  margin-top: 20px;
  image-rendering: auto;
}
.container .logo {
  font-size: 30px;
}
.scription h2 {
  font-size: 40px;
  line-height: 1;
}
.scription h2 span {
  font-size: 25px;
}
.scription p {
  font-size: 20px;
  margin: 30px 0;
}
.container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  background-color: transparent;
  padding: 80px;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  flex-direction: column; /*調整為一列*/
}

.social-icons a i {
  font-size: 22px;
  color: aliceblue;
  margin-right: 10px;
  margin-top: 20px;
  transition: 0.5 ease;
}
.social-icons a:hover i {
  transform: scale(1.5); /*hover觸發放大1.5倍*/
}

.social-icons sign-in a {
  width: 100%;
  display: flex;
  justify-content: center;
  color: aliceblue;
  transition: 0.5 ease;
}
.container .log-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 42%;
  height: 100%;
  overflow: hidden;
}

.log-box .form-box {
  position: absolute;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* 繼承背景顏色*/
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px); /* 模糊登入系統 */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: aliceblue;
}
.log-box .form-box.login {
  transform: translateX(0);
  transition: transform 0.6s ease; /* 擦掉的特效 */
}
.log-box.active .form-box.login {
  transform: translateX(430px);
  transition-delay: 0.6s;
}
.log-box .form-box.register {
  transform: translateX(430px);
}

.log-box.active .form-box.register {
  transform: translateX(0);
  transition: transform 0.6s ease;
  transition-delay: 0.6s;
}
.form-box h2 {
  font-size: 35px;
  text-align: center;
}
.form-box .input-box {
  position: relative;
  width: 340px;
  height: 30px;
  border-bottom: 2px solid aliceblue;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: aliceblue;
  font-weight: 500;
  padding-right: 28px;
}
.input-box label {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 500;
  pointer-events: none; /* 使無法點擊到下面*/
  translate: 0.5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box .icon {
  position: absolute;
  font-size: 19px;
  right: 10px;
}

.remember-forget {
  font-size: 14.5px;
  font-weight: 500;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.remember-forget a {
  color: aliceblue;
  text-decoration: none;
}

.remember-forget label input {
  accent-color: aliceblue;
  margin-right: 3px;
}
.remember-forget a:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

.btn {
  width: 100%;
  margin-top: 10px;
  height: 45px;
  background: violet;
  color: aliceblue;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer; /* 滑鼠指標改變*/
  font-size: 18px;
  /* font-weight: 500; */
  box-shadow: 0 0 10px rgba(0, 0, 5, 0.5); /*區塊陰影*/
}
.login-register {
  font-size: 14.5px;
  text-align: center;
  font-weight: 500;
  margin: 15px;
}
.login-register p a {
  font-size: 14.5px;
  color: aliceblue;
  text-decoration: none;
  outline: none;
  border: none;
}
.login-register p a:hover {
  text-decoration: underline;
  transform: scale(1.2);
}
.background {
  width: 100%;
  height: 100vh;
  background: url("background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}
