# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.vscode
/backend/.mvn
/backend/src/main/java/com/example/login/controller/TestController.java
